<div class="header_wrapper">
    <div class="logo_icon">
        <img src="./assets/WIT.svg" width="100px" />
    </div>
    <div class="hamberger_icon">


        <button style="width: 50px;
        border-radius: 100px;" mat-icon-button >
            <mat-icon (click)="sidenav.toggle()" style="font-size:36px;color: #0D2650; height: auto; width: auto;">menu</mat-icon>
          </button>
    </div>
</div>


  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['About']" (click)="sidenav.toggle()"> About </a>
        <a mat-list-item [routerLink]="['Contact']" (click)="sidenav.toggle()"> Contact </a>
        <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>