<div class="dotts_img">
    <img src="./assets/3dotts.svg" width="38px" />
</div>
<p>Experience speaks louder</p>

<div class="wrap">
    <div class="columns">
        <img src="assets/workArtScreen_1.svg" width="400px" alt="">
    </div>
    <div class="columns details">
        <h3>Promising Journey:</h3>
        <p class="platform">Web Project</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%; color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">Created this website earlier in my career for personal portfolio uses.</p>
        <a class="my-button" target="_blank" href="https://israel2000.github.io/promising-journey-offical/">Visit Github
            page</a>
    </div>
</div>
<div class="wrap">
    <div class="columns">
        <img src="assets/workArtScreen_2.svg" width="400px" alt="">
    </div>
    <div class="columns details">
        <h3>Local church Website:</h3>
        <p class="platform">Web Project</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%; color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">Designed this website for local church in Denver, CO using Angular, bootstap CSS.</p>
        <a class="my-button" target="_blank" href="https://gifted-euclid-7cf0c8.netlify.app/">Visit Website</a>
    </div>
</div>
<div class="wrap">
    <div class="columns">
        <img src="assets/workArtScreen_3.svg" width="400px" alt="">
    </div>
    <div class="columns details">
        <h3>Clean Cuts:</h3>
        <p class="platform">Web Project</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%; color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">3 page of maginfient of state of Colorado permit design on the homepage, promoting local
            barbershop business.</p>
        <a class="my-button" target="_blank" href="https://israel2000.github.io/clean-cuts-website/">Visit Website</a>
    </div>
</div>