<div class="dotts_img">
    <img src="./assets/3dotts.svg" width="38px" />
</div>
<p>Experience speaks louder</p>

<div class="wrap">
    <!-- odd -->
    <div class="columns">
        <img src="assets/hunter-cole-portfolio-image.png" alt="">
    </div>
    <div class="columns details">
        <h3>Hunter Cole</h3>
        <p class="platform">Web</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%;"></i>
        <i class="fa fa-tablet"></i>
        <i class="fa fa-mobile"></i>
        <p class="para">An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
        <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
    </div>
</div>




<div class="row work-row">
    <!-- even -->
    <!-- <div class="small-12 medium-6 columns">
        <img src="assets/ftm-site.png" alt="">
    </div>
    <div class="small-12 medium-5 medium-offset-1 columns">
        <div class="details details-ftm">
            <h3>FreshTechMaids</h3>
            <p class="platform">Web</p>
            <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
            <p>FreshTechMaids is a house maid service company.</p>
            <a class="my-button" target="_blank" href="http://www.freshtechmaids.com">Visit Website</a>
        </div>
    </div> -->
</div>

<div class="row work-row">
    <!-- odd -->
    <!-- <div class="small-12 medium-6 medium-push-6 columns">
        <img src="assets/clean-cut.png" alt="">
    </div>
    <div class="small-12 medium-5 medium-pull-7 columns">
        <div class="details details-ftm">
            <h3>Clean Cut Barbershop</h3>
            <p class="platform">Web</p>
            <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
            <p>A Local Barbershop website Denver, CO.</p>
            <a class="my-button" target="_blank" href="https://israel2000.github.io/clean-cuts-website/">Visit
                Website</a>
        <!-- </div> -->
    <!-- </div> -->
</div>