<div class="dotts_img">
    <img src="./assets/3dotts.svg" width="38px" />
</div>
<p>Experience speaks louder</p>

<div class="wrap">
    <!-- odd -->
    <div class="columns">
        <img src="assets/workArtScreen_1.svg" width="600px" alt="">
    </div>
    <div class="columns details">
        <h3>Hunter Cole</h3>
        <p class="platform">Web</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%; color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
        <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
    </div>
</div>

<div class="wrap">
    <!-- odd -->
    <div class="columns details">
        <h3>Hunter Cole</h3>
        <p class="platform">Web</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%;color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
        <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
    </div>
    <div class="columns">
        <img src="assets/workArtScreen_2.svg" width="600px" alt="">
    </div>

</div>

<div class="wrap">
    <!-- odd -->
    <div class="columns">
        <img src="assets/workArtScreen_3.svg" width="600px" alt="">
    </div>
    <div class="columns details">
        <h3>Hunter Cole</h3>
        <p class="platform">Web</p>
        <i class="fa fa-desktop" style="font-size:24px;margin-left: 23%; color: #ff8989"></i>
        <i class="fa fa-tablet" style="color: #ff8989"></i>
        <i class="fa fa-mobile" style="color: #ff8989"></i>
        <p class="para">An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
        <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
    </div>
</div>