.header_wrapper {
    display: flex;
    flex-direction: row;
    background-color: #889CBC;
    align-items: center;
    margin-top: 3%;
}
.logo_icon {
    flex: 2 0 0;
    margin-left: 7%;
}
.hamberger_icon {
    flex: 0 0 0;
    margin-right: 7%;
   margin-top: -1%;

}
.sideNav{
    width: 25%;
}
.fa{
    margin-right: 10px;
}
.links{
    font-size: 30px !important;
    margin-bottom: 10% !important;
}
.mat-list-item i{
    font-size: 40px !important;
    padding-left: 90px !important;
    margin: 10px 0px !important;
    color: #889CBC;
    font-size: 25px !important;
}

a > i {
    padding-left: 1% !important;
}

/* media quieries - header */
@media only screen and (max-width: 600px) {
    /* home page - app.component */
    .hamberger_icon {
        margin-right: 9%;
        margin-top: -3%;
    }
}