<div class="header_wrapper">
    <div class="logo_icon">
        <a routerLink="" routerLinkActive="active">
            <img src="./assets/WIT.svg" width="100px" />
        </a>
    </div>
    <div class="hamberger_icon">
        <button style="width: 50px;
        border-radius: 100px;" mat-icon-button>
            <mat-icon (click)="sidenav.toggle()" style="font-size:60px;color: #0D2650; height: auto; width: auto; ">menu
            </mat-icon>
        </button>
    </div>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav class="sideNav">
        <mat-nav-list style="padding-left: 10%;">

            <a class="links" mat-list-item [routerLink]="['']" (click)="sidenav.toggle()">
                <i class="fa fa-home" style="font-size:36px !important; margin-right: 10px !important;width: 35px;"></i>
                Home
            </a>
            <a class="links" mat-list-item [routerLink]="['about']" (click)="sidenav.toggle()">
                <i class="fa fa-vcard-o" style="font-size:36px;margin-right: 10px !important;width: 35px;"></i>
                About
            </a>
            <a  class="links" mat-list-item [routerLink]="['work']" (click)="sidenav.toggle()">
                <i class="fa fa-code" style="font-size:36px;margin-right: 10px !important;width: 35px;"></i>
                Work
            </a>
            <a class="links" mat-list-item [routerLink]="['Contact']" (click)="sidenav.toggle()">
                <i class="fa fa-envelope" style="font-size:36px;margin-right: 10px !important;width: 35px;"></i>
                Contact
            </a>
            <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #889CBC;">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>