<p class="para_wrap">If you’re interested in working with us, <br />contact us,
    we’d love to hear from you.</p>

<div class="form_wrapper">
    <div class="container">
        <div class="form-wrap">
            <form>
                <h3>GET IN TOUCH</h3>
                <input placeholder="Full Name" type="text" />
                <input placeholder="Email Address" type="text" />
                <input placeholder="Phone Number" type="text" name="phone" />
                <textarea width=402px placeholder="Comment"></textarea>
                <button class="submit_btn">Submit</button>
            </form>
        </div>
        <div class="company_info">
            <span>Social Media: </span><br>
            <div class="social_media">

                <a href="https://www.facebook.com/Web-innovative-technology-105530241773571" class="fa fa-facebook"></a>
                <a href="https://twitter.com/isieman" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UClvlfwHBENPDvs3nW5-buuA" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            <br><br>
            <span>Email Us:</span>
            <br><br>
            <a href="mailto:team.webinnovativetech@gmail.com"
                style="color:#0D2650; text-decoration:none;">team.webinnovativetech@gmail.com
            </a>
            <br><br><br>
            <span style="margin-bottom: 5%">Phone:</span> <br>
            <p> <a href="tel:(970)716-0788" style="color:#0D2650; text-decoration:none;">(970)716-0788 </a></p>

        </div>
    </div>

</div>